/* Pour les mobiles */
@media only screen and (max-width: 767px) {
    .container { 
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .section {
        padding: 1rem 0.5rem;
    }

    .title { 
       
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    .field:not(:last-child) {
        text-align: left;
    }

    .title.is-2 {
        color: #F9CE8C;
    }

    .title.is-5 {
        margin: 15px 0;
        /*padding: 0 10px;*/
        font-size: 1.1rem; /* Taille relative */
        margin-left: -27px;
        white-space: nowrap;
    }

    form {
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        max-width: 350px;
    }   

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        border-radius: 18px;
        padding: 12px 18px;
        background-color: #f5f3f3;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .button.is-fullwidth {
        display: flex;
        width: 100%;
        margin: 20px 0;
        padding: 12px;
        border-radius: 18px;
        background-color: #F9CE8C;
        justify-content: center;
        align-items: center;
    }

    a {
        color: #F9CE8C;;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        padding: 5px;
    }

    p {
        margin: 20px 0;
        padding: 0 10px;
    }
}

/* Pour les très petits écrans */
@media only screen and (max-width: 320px) {
    .container {
        width: 95%;
        padding: 0 10px;
    }

    form {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        padding: 10px 15px;
    }
}

/* Pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 600px;
    }

    form {
        max-width: 500px;
    }
}


.back-button {
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9CE8C; /* Utilise la même couleur que votre thème */
    transition: all 0.3s ease;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

/* Ajustement pour iPhone SE */
@media only screen and (device-width: 375px) and (device-height: 667px) {
    .back-button {
        top: 15px;
        left: 10px;
        width: 35px;
        height: 35px;
    }
}