/* Styles de base */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fd9292;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
}

/* Conteneur principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Cart principale */
.login-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

/* Image dans la cart */
.card-image {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Titre */
.title.is-5 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Champs de formulaire */
.field {
    margin-bottom: 15px;
}

.input {
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

/* Bouton */
.button {
    border-radius: 6px;
    color: #F9CE8C;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}


/* Liens */
a {
    color:  #F9CE8C;
    text-decoration: none;
    font-weight: bold;
}

.button.is-primary {
    background-color: #F9CE8C;
    border-color: transparent;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

/* Texte */
p {
    font-size: 0.9rem;
    margin-top: 15px;
    color: #555;
}

/* Responsive */
@media (max-width: 767px) {
    .login-container {
        max-width: 90%;
    }

    .login-card {
        padding: 15px;
    }

    .title.is-5 {
        font-size: 13px;
    }

    .input {
        padding: 8px;
    }

    .button {
        padding: 8px;
    }

    .card-image {
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .title.is-5 {
        font-size: 0.9rem;
    }
}


.hero-text h1{
font-size: 13px;
font-weight: bold;
margin-bottom: 15px;
}


.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
}